body {
  color: #333;
}


h1 {
  font-size: 52px;
  margin: 0;
}

.header {
  margin: 42px 0;
}

.entry-photo {
  float: left;
}

.entry-message {
  float: left;
  margin-left: 12px;
  font-size: 42px;
}

.entry-date {
  float: right;
  font-size: 18px;
  color: #888;
}
