body {
  color: #333;
}

h1 {
  margin: 0;
}

header {
  margin: 24px 0;
}

.entry img {
  float: left;
  max-width: 64px;
  max-height: 64px;
  margin-right: 24px;
}

.entry p {
  font-size: 16px;
}
.entry p.large {
  font-size: 24px;
}

.entry-photo {
  float: left;
}

.entry-date {
  font-size: 18px;
  color: #888;
  margin-top: 16px;
}
