{% extends '_base.html' %}


{% block page %}
  <div class="container">
    <header class="clearfix">
      <h1 class="pull-left">Aggregated Entries</h1>
      <a href="{{ url_for('new_entry') }}" class="btn btn-success pull-right">New Entry</a>
    </header>

    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    {% for entry in entries %}
      <div class="well clearfix">
        <div class="entry clearfix">
          <img src="{{ entry.photo }}" width="128" height="128" title="{{ entry.name }}" />
          <p class="{{ 'large' if entry.message|count < 30 }}">
            {{ entry.message }}
          </p>
        </div>
        {% if entry.timestamp %}
          <div class="entry-date">
            {% if entry.id %}
              <a href="{{ url_for('view_entry', guestbook_host=entry.host, entry_id=entry.id) }}">{{ entry.timestamp }}</a>
            {% else %}
              {{ entry.timestamp }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
