{% extends '_base.html' %}


{% block page %}
  <div class="container">
    <header class="clearfix">
      <h1 class="pull-left">Entry {{ entry.id }}</h1>
      <a href="{{ url_for('index') }}" class="btn btn-default pull-right">Back</a>
    </header>

    <div class="well clearfix">
      <div class="entry clearfix">
        <img src="{{ entry.photo }}" width="128" height="128" title="{{ entry.name }}" />
        <p class="{{ 'large' if entry.message|count < 30 }}">
          {{ entry.message|safe }}
        </p>
      </div>
      {% if entry.timestamp %}
        <div class="entry-date">
          {% if entry.id %}
            <a href="{{ url_for('view_entry', guestbook_host=entry.host, entry_id=entry.id) }}">{{ entry.timestamp }}</a>
          {% else %}
            {{ entry.timestamp }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
